*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
*/build
.kotlin

*.apk
*.aab
*.aar

keystore.properties
*.jks
*.keystore

/screenshots/*.png
captured_sample.jpg
auracam_*.png

xcuserdata/
*.xcworkspace/xcuserdata/
